.all-banners {

  &__discount-time::before,
  &__red-cross::before,
  &__december::before,
  &__dresses::before,
  &__household-chemicals::before {
    content: '';
    position: absolute;
    font-weight: 700;
    font-size: 30px;
    line-height: 130%;
    color: #FFFFFF;
    padding: 24px 9px;
    background: #FFBD13;
    border-radius: 50%;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: minmax(140px, 245px) minmax(140px, 245px) minmax(140px, 245px) minmax(140px, 245px) minmax(140px, 245px) minmax(140px, 245px);
    gap: 60px 60px;
    grid-template-areas:
      "book discount-time two-pairs two-pairs gift-ideas gift-ideas"
      "red-cross red-cross two-pairs two-pairs december december"
      "christmas-decorations christmas-decorations christmas-decorations christmas-decorations dresses double-block"
      "christmas-decorations christmas-decorations christmas-decorations christmas-decorations dresses double-block"
  }

  &__discount-time::before,
  &__december::before,
  &__dresses::before {
    content: '-25%';
    right: 20px;
    bottom: 20px;
  }

  &__december::before {
    content: '-15%';
  }

  &__dresses::before {
    content: '-55%';
  }

  &__red-cross::before,
  &__household-chemicals::before {
    content: '-40%';
    top: 20px;
    left: 20px;
  }

  &__household-chemicals::before {
    content: '-25%';
  }

  &__two-pairs::after,
  &__christmas-decorations::after,
  &__dresses::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%);
    z-index: -1;
    border-radius: 20px;
  }

  &__book {
    background-image: url(../img/banner002.jpg);
    grid-area: book;
  }

  &__book-title {
    max-width: 190px;
    left: 20px;
    right: 10px;
    bottom: 20px;
  }

  &__discount-time {
    background-image: url(../img/banner003.jpg);
    background-position: left -45px top 0;
    grid-area: discount-time;

    &-title {
      max-width: 206px;
      bottom: 122px;
      left: 14px;
    }
  }

  &__two-pairs {
    position: relative;
    background-image: url(../img/banner005.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 0 top 0;
    font-weight: 400;
    height: 516px;
    border-radius: 20px;
    grid-area: two-pairs;

    &-title {
      max-width: 510px;
      padding: 24px 26px;
      background: #38C0EB;
      border-radius: 20px;
      bottom: 20px;
      left: 20px;
      right: 14px;
    }
  }

  &__gift-ideas {
    background-image: url(../img/banner007.jpg);
    background-position: left 0 bottom -50px;
    grid-area: gift-ideas;

    &-title {
      max-width: 345px;
      left: 30px;
      bottom: 30px;
    }    
  }

  &__red-cross {
    background-image: url(../img/banner004.jpg);
    background-position: left 0 bottom -50px;
    grid-area: red-cross;
  }

  &__december {
    background-image: url(../img/banner006.jpg);
    background-position: left 0 bottom -60px;
    grid-area: december;

    &-title {
      max-width: 393px;
      left: 30px;
      bottom: 40px;
    }
  }

  &__christmas-decorations {
    position: relative;
    background-image: url(../img/banner009.jpg);
    background-position: left 0 bottom -150px;
    background-repeat: no-repeat;
    background-size: cover;
    height: 516px;
    border-radius: 20px;
    grid-area: christmas-decorations;

    &-title {
      position: absolute;
      padding: 30px 40px;
      color: #F91155;
      text-transform: uppercase;
      background: #FFFFFF;
      border-radius: 20px;
      bottom: 50px;
      left: 50px;
    }
  }

  &__dresses {
    position: relative;
    background-image: url(../img/banner010.jpg);
    background-position: left -90px bottom 0;
    background-repeat: no-repeat;
    background-size: cover;
    /* max-width: 245px; */
    height: 516px;
    border-radius: 20px;
    grid-area: dresses;
  }

  &__double-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-area: double-block;
  }

  &__household-chemicals {
    background-image: url(../img/banner011.jpg);
    background-position: left -70px bottom 0px;
    width: 100%;

    &-title {
      bottom: 20px;
      left: 20px;
    }    
  }

  &__red-balls {
    background-image: url(../img/banner012.jpg);
    background-position: left 0 bottom 0;
    background-size: 180%;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 100%;
  }
}

.banner-size-xl {
  position: relative;
  height: 228px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 60%;
  z-index: -1;
  border-radius: 20px;

  &::after,
  &::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(181.33deg, rgba(0, 0, 0, 0) 9.23%, rgba(0, 0, 0, 0.2) 98.87%);
    z-index: -1;
    border-radius: 20px;
  }
}

.banner-size-l {
  position: relative;
  height: 228px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left -30px bottom 0;
  z-index: -1;
  border-radius: 20px;
}