.article {
  font-family: 'Lato';

  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  &__title {
    font-weight: 700;
    font-size: 50px;
    line-height: 130%;
  }

  &__paragraf {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
  }

  &__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__autor-name {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
  }

  &__btn-back {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    border: none;
    background: transparent;
    max-height: 24px;
    align-self: end;
    margin-bottom: 13px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    color: #2D2D2D;
  }

  &__btn-back-icon {
    width: 24px;
    height: 24px;
    padding: 6px 3px;
  }

  &__autor-block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__autor-name {
    margin: 0 0 0 auto;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
  }

  &__user-box {
    gap: 15px;
  }

  &__time {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #8F8F8F;
  }

  &__user-box {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
  }

  &__user:first-child {
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
  }

  &__user:last-child {
    display: flex;
    flex-direction: row;
    gap: 11px;
    align-items: center;
  }

  &__views-text,
  &__chat-text {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: #8F8F8F;
  }
}

.article_visible {
  display: flex;
  z-index: 2;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 145px;
}

.breadcrumb {
  font-family: 'Lato';
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;

  &__item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: flex-end;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
  }

  &-icon {
    width: 18px;
    height: 18px;
    padding: 4.5px 6.5px;
  }
}