.header {
  padding-top: 27px;
  margin-bottom: 60px;
  &__container {
    &__header-wrapper{
      display: grid;
      grid-template-columns: minmax(165px, 190px) minmax(115px, 174px) minmax(540px, 757px) minmax(211px, 354px);
      gap: 100px;
      grid-template-areas:
        "logo menu-btn search btns-group";
      align-items: center;
    }
  }
}